.main-title {
  font-size: 2.5rem;
  margin: 3rem 0;
  color: $blue;
}
.second-title {
  font-size: 1.8rem;
  margin: 1.8rem 0;
}
.button {
  background-color: $blue;
  color: $white;
  text-decoration: none;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  transition: all .5s ease-in-out;
  &:hover {
    background-color: lighten($blue, 10%);
    color: $white;
  }
}