/* Breakpoints helpers */

/* 320px */
@mixin bp-xs($size:min) {
  @media screen and (#{$size}-width: 320px) {
    @content;
  }
}

/* 480px */
@mixin bp-sm($size:min) {
  @media screen and (#{$size}-width: 480px) {
    @content;
  }
}

/* 768px */
@mixin bp-md($size:min) {
  @media screen and (#{$size}-width: 768px) {
    @content;
  }
}

/* 992px */
@mixin bp-lg($size:min) {
  @media screen and (#{$size}-width: 992px) {
    @content;
  }
}

/* 1200px */
@mixin bp-xl($size:min) {
  @media screen and (#{$size}-width: 1200px) {
    @content;
  }
}

/* Custom */
@mixin bp-custom($size, $px) {
  @media screen and (#{$size}-width: $px) {
    @content;
  }
}

/* Custom between in two bp */
@mixin bp-between($from_px, $to_px) {
  @media (min-width: $from_px) and (max-width: $to_px) {
    @content;
  }
}