.coin-item {
  background-color: rgba($blue, 0.1);
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  .rank {
    color: $blue;
    font-size: 0.8rem;
  }
  .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    height: 82px;
    .icon {
      font-size: 2.5rem;
    }
    .name {
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 0.6rem;
      line-height: 1.7rem;
      span {
        font-weight: 300;
        font-size: 0.9rem;
        display: block;
      }
    }
  }
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      .label {
        font-size: 0.8rem;
        color: #828ea1;
      }
      .value {
        &.red {
          color: $red;
        }
        &.green {
          color: $green;
        }
      }
    }
  }
  .button {
    display: inline-block;
    text-align: center;
    margin: 1rem 0 0;
    font-size: 0.9rem;
  }
}