.head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  height: 82px;
  .icon {
    font-size: 2.5rem;
  }
  .second-title {
    display: flex;
    .name {
      padding-left: 0.6rem;
      span {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }
}
.detail-coin {
  background-color: rgba($blue, 0.1);
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  .item {
    margin-bottom: 1rem;
    .label {
      font-size: 0.8rem;
      color: #828ea1;
    }
    .value {
      &.red {
        color: $red;
      }
      &.green {
        color: $green;
      }
    }
  }
}