body {
  font-family: $font-main;
  min-height: 100vh;
  background-color: $blue-dark;
  color: $white;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}